$colors: (
	// Normal Colors

	white: #ffffff,

	black: #000000,

	gray: #4f4f4f,

	blue-00: #2e6eb6,
	blue-01: #003979,

	yellow: #ffcb05,

	green: #009c19,

	red-00: #ffabab,
	red-01: #cb3434,
	red-02: #d30000,
	red-03: #a40000,
	red-04: #920000,

	// Pokemon Colors

	bug: #009c19,
	dark: #707070,
	dragon: #4693bd,
	electric: #eed535,
	fairy: #fdb9e9,
	fighting: #c75c1a,
	fire: #fd5724,
	flying: #52d2f5,
	ghost: #7b62a3,
	grass: #9bcc50,
	ground: #c5b759,
	ice: #5ad2f6,
	normal: #a4acaf,
	poison: #b97fc9,
	psychic: #f366b9,
	rock: #807940,
	steel: #a5b2b3,
	water: #2780d4,
);
